.about {
  margin: 8.4rem 0; }

.about__inner {
  display: flex;
  max-width: 1090px; }

.about__pfoto {
  width: 50%; }

.about__content {
  width: 50%; }

.about__tittle {
  font-size: 3rem;
  color: black; }
