.footer{
    background-color:$black;
    padding: 1rem 0;
    }
.footer__inner{
    display: flex;
    justify-content: space-between;
}
.footer__credits{
    display: flex;
    align-items: center;
}
.footer__copyright{
    margin-right: 1rem;
    padding-right: .8rem;
    font-size: 1.3rem;
    color:#BBBBCC;
    border-right: 1px solid rgba($color:#BBBBCC, $alpha: .3);
}

.footer__social{
    display: flex;
    align-items: center;

    a{
        text-decoration: none;
        margin-right: .8rem;
    }
}
.footer__nav{
    font-size: 1.1rem;
    display: flex;
    align-items: center;


    &-link{
       margin-left: 1.5rem;
       color:#BBBBCC;
       text-decoration: none;
       &:hover{
           text-decoration: underline;
       }
       &--btn{
           padding: .5rem 1.4rem;
           border-radius:20px;
           border: 1px solid $gray-lite;

           &:hover{
               text-decoration: none;
               background-color:#BBBBCC;
               border-color: #BBBBCC;
               color:$black
           }
       }
    }
}