.modalcv {
  display: flex;
}
.modalcv__content {
  width: 70%;
  padding: 5rem 1rem 2rem 5rem;
}
.modalcv__content--title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.modalcv_content--titlemin {
  font-size: 2rem;
  margin-bottom: 5rem;
}
.modalcv__content--info {
  position: relative;
  margin-left: 3rem;

  &::before {
    content: "2009 - 2014rr";
    position: absolute;
    left: -100px;
    top: 325px;
  }
  &::after {
    content: "2020 - 2021rr";
    position: absolute;
    left: -100px;
    top: 467px;
  }
  & p {
    margin-left: 2.7rem;
  }
}
.modalcv__content--title {
  display: flex;
  align-items: center;

  & h1 {
    font-size: 2rem;
  }
}
.modalcv__content--h1 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 2.7rem;
}
.modalcv__info {
  width: 30%;
  padding: 15rem 2rem;
  margin-top: 2rem;
}
.modalcv__info--title {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.modalcv__info--h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.modalcv__infoo--img,
.modalcv__content--img {
  border: 1px solid black;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  padding: 3px;
  background-color: $black;
  margin-right: 0.5rem;
}
.language {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
